apiVersion: package-operator.run/v1alpha1
kind: Package
metadata:
  name: "{{.package.metadata.name}}-application"
  annotations:
    package-operator.run/phase: application-component
spec:
  image: {{ .package.image }}
  component: application
  config:
    adminPassword: {{ .config.adminPassword }}
