apiVersion: package-operator.run/v1alpha1
kind: Package
metadata:
  name: "{{.package.metadata.name}}-infinispan"
  annotations:
    package-operator.run/phase: infinispan-component
spec:
  image: {{ .package.image }}
  component: infinispan
